<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Cadastro Convidados</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="">Convidado</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">

		<!-- Call to Action Well -->
		<div class="row">
			<div class="col-lg-12">
				<div class="well">

					<h2>Convidado</h2>

					<form th:action="@{/convidados/salvar}" method="post" th:object="${convidado}">

						<div class="form-group">
							<!-- <label class="control-label" for="id">Id:</label>  -->
							<input type="hidden" name="id" id="id" class="form-control" maxlength="50" size="50" th:field="*{id}" />
						</div>

						<div class="form-group">
							<label class="control-label" for="nome">Nome:</label> 
							<input type="text" name="nome" id="nome" class="form-control" maxlength="50" size="50" th:field="*{nome}" />
						</div>
						<div class="form-group">
							<label class="control-label" for="email">E-mail:</label> 
							<input type="text" name="email" id="email" class="form-control" maxlength="50" size="15" th:field="*{email}" />
						</div>

						<div class="form-group">
							<label class="control-label" for="endereco">Endereço:</label>
							<input type="text" name="endereco" id="endereco" class="form-control" maxlength="14" size="15" th:field="*{endereco}" />
						</div>
						<div class="form-group">
							<label class="control-label" for="numero">Numero:</label>
							<input type="text" name="numeros" id="numero" class="form-control" maxlength="14" size="15" th:field="*{numero}" />
						</div>
						<div class="form-group">
							<label class="control-label" for="cidade">Cidade:</label>
							<input type="text" name="cidade" id="cidade" class="form-control" maxlength="14" size="15" th:field="*{cidade}" />
						</div>
						<div class="form-group">
							<label class="control-label" for="estado">Estado:</label>
							<input type="text" name="estado" id="estado" class="form-control" maxlength="14" size="15" th:field="*{estado}" />
						</div>
						<div class="form-group">
							<label class="control-label" for="cep">CEP:</label>
							<input type="text" name="cep" id="cep" class="form-control" maxlength="14" size="15" th:field="*{cep}" />
						</div>
						<div class="form-group">
							<label class="control-label" for="cpf">CPF:</label>
							<input type="text" name="cpf" id="cpf" class="form-control" maxlength="14" size="15" th:field="*{cpf}" />
						</div>
						<div class="form-group">
							<label class="control-label" for="rg">RG:</label>
							<input type="text" name="rg" id="rg" class="form-control" maxlength="14" size="15" th:field="*{rg}" />
						</div>
						<div class="form-group">
							<label class="control-label" for="datanascimento">Data nascimento:</label>
							<input type="text" name="datanascimento" id="datanascimento" class="form-control" maxlength="14" size="15" th:field="*{datanascimento}" />
						</div>
						<div class="form-group">
							<label class="control-label" for="telresidencial">Tel residencial:</label>
							<input type="text" name="telresidencial" id="telresidencial" class="form-control" maxlength="14" size="15" th:field="*{telresidencial}" />
						</div>
						<div class="form-group">
							<label class="control-label" for="celular">Celular:</label>
							<input type="text" name="celular" id="celular" class="form-control" maxlength="14" size="15" th:field="*{celular}" />
						</div>
						<div class="form-group">
							<label class="control-label" for="tipfinan">Tipo financiamento:</label>
							<input type="text" name="tipfinan" id="tipfinan" class="form-control" maxlength="14" size="15" th:field="*{tipfinan}" />
						</div>
						<div class="form-group">
							<label class="control-label" for="quantparc">Quantidade Parcelamento:</label>
							<input type="text" name="quantparc" id="quantparc" class="form-control" maxlength="14" size="15" th:field="*{quantparc}" />
						</div>
						<div class="form-group">
							<label class="control-label" for="valint">Valor intenção:</label>
							<input type="text" name="valint" id="valint" class="form-control" maxlength="14" size="15" th:field="*{valint}" />
						</div>
						<div class="form-group">
							<label class="control-label" for="salario">Salário:</label>
							<input type="text" name="salario" id="salario" class="form-control" maxlength="14" size="15" th:field="*{salario}" />
						</div>
						
						<a class="btn btn-danger btn-xsg" href="">Cancelar</a>
						<button type="submit" class="btn btn-primary btn-lg">Gravar</button>

						<br> 
					</form>

				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>